@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

*{
  margin:0;
}

:root{
    --green:#f7fff7;
    --blue:#02239a;
    --yellow:#ffe66d;
    --white:#f1f3f9; 
    --black:#180126;
    --grey:#7E7A8F;
    --navtext:#C3C7D2;
    --dmsans:'DM Sans', sans-serif; 
    --aqua:#4bb8d8;
    --teal:#2c8daa;
    --butterscotch:#d8aa4b;
    --yellow2:#fad862;
  }

  body{

    background-color:var(--green);
    box-sizing:absolute; 
  }

  .header{
    background-color:var(--blue);
    height:75px;
  }
  
  .header h1{
    color:var(--white);
    font-family:var(--dmsans);
    font-weight: bold;
    margin-left:45%;
    padding-top:10px
  }
  
  .header .navlinks{
    color:var(--white);
    list-style-type: none;
    text-decoration:none;  
    font-size:18px;
    margin-left:65%;
    display:flex;
    justify-content: space-evenly;
    margin-top: -1%;
  }
  
  .header .navlinks a{
    
    font-family:var(--dmsans);
    text-decoration:none;
    color:var(--white);
  }
  
  
  
  .navlinks li:hover, .navlinks li:focus{
   background-color:var(--yellow);
   border-radius: 4px;
    border-color:var(--yellow);
    padding:5px;
    color:var(--black);
    font-weight:bold;
  }
  
  #layer1{
    position: relative;
    z-index: 0;
  }
  
  .triangles{
  display:flex; 
  justify-content:center;
  overflow:hidden;
  position: static;
  }
  
  .triangle1{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30vh 114vh 0 0;
  border-color: var(--teal) transparent transparent transparent;
  }
  
  
  .triangle2{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 113vh 30vh 0;
  border-color: transparent var(--aqua) transparent transparent;
  overflow:hidden;
  }
  
 #layer2{
    position: relative;
    z-index: 1;
    margin-top:-12%;
  }

  .content .sd-card-pic{
    margin-left: 5%;
    margin-top: -13%;
    margin-right: 8%;
  }
   
  .content .sd-card-pic img{
      width: 181%;
  }

  .content{
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .heart-bttn button{
    border:none;
    background-color:transparent;
    outline:none;
    padding-left: 70%;
  }

  .fa-heart:hover{
    color: var(--yellow);
  }

  .product-info{
    font-family:var(--dmsans);
    padding-left: 11%;
    padding-right: 5%;
  }

  .product-info h4 a{
    text-decoration:none; 
    list-style-type: none;
    color: var(--black);
  }

  .amazon-choice img{
      width: 20%;
      display: inline-block;
      vertical-align: middle;
  }

  .amazon-choice p{
      display: inline-block;
      vertical-align: middle;
  }

  .cost{
      font-size: 20px;
      margin-bottom: 1em;
  }

  .more-product-info{
    font-weight: bold;
    font-size: 16px;
  }

  .info{
    margin-bottom: 1em;
  }

  .deliver{
      margin-bottom: 1em;
  }

  button{
      float: left;
      margin-right:1em;  
      margin-bottom: 3em;  
  }

  .addtocart button{
    width: 20%;
    padding: 1%;
    background-color:var(--yellow2); 
	display:block;
    border: none;
	font-family:var(--dmsans);
	color:var(--white);
    font-weight: bold;
    font-size: 18px;
  }

  .addtocart button:hover{
    background-color: var(--butterscotch);
  }

  .buynow button{
      width: 20%;
      padding: 1%;
      background-color:var(--yellow2);
      display:block;
      border: none;
      font-family:var(--dmsans);
      color:var(--white);
      font-weight: bold;
      font-size: 18px;
  }

  .buynow button:hover{
    background-color: var(--butterscotch);

  }

  footer{
    background-color:var(--blue); 
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    overflow:hidden;  
  }
  
  footer .icons{
    padding-top:1%;
    margin-left: 45%;
  }
  
  footer a{
    padding:1em;
  }
  
  
  .fa-facebook-square:hover, .fa-linkedin:hover, .fa-instagram-square:hover, .fa-twitter-square:hover{
    background-color:var(--white);
    border-color:var(--yellow);
  }
  




  @media only screen and (max-width: 600px) {
    .header h1{
       margin-left:32%;
       font-size: 28px;
    }
  
    .header .navlinks{
      font-size:13px;
      margin-top: -11%;
      margin-left:65%;
      display: block;
    }
  
    .navlinks li a:hover, .navlinks li a:focus{
      background-color:var(--white);
      border-radius: 5px;
       border-color:var(--yellow);
       padding:1px;
       color:var(--yellow);
       font-weight:bold;
    } 
  
  
    #layer2{
      margin-top: -42%;
      position: relative;
      z-index: 1;
    }

  .content{
    flex-direction: column;
  }  

  .content .sd-card-pic img {
    width: 90%;
    margin-left: 7%;
    margin-bottom: 14px;
  }

    .product-info{
    font-size: 13px;
    margin-bottom: 1em;
    margin-top: -15px;
}

    .product-info h1{
    font-size: 18px;
  }

  .stars{
      margin-top: 5px;
      margin-bottom: 5px;
  }

  .cost p {
      font-size: 13px;
  }

  .amazon-choice img {
    width: 47%;
    margin-bottom: 1em;
  }

  .more-product-info{
      font-size: 13px;
  }

  .deliver{
      font-size: 13px;
  }

  .heart-bttn button{
    padding-left: 45%;
  }

  i.far.fa-heart.fa-5x{
      font-size: 2em;
  }

  .buttons{
    margin-left: 2%;
    width: 188%;
    margin-top: 2em;
}
 
footer .icons{
    padding-top:1%;
    margin-left: 25%;
  }


  }