@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
/* universal styling */
*{
    margin: 0 auto;
    
}
  ::-webkit-scrollbar-thumb{
    width: 10px;
    background: var(--grey);
  }
:root{
    --green:#f7fff7;
    --blue:#02239a;
    --yellow:#ffe66d;
    --white:#f1f3f9; 
    --black:#180126;
    --grey:#7E7A8F;
    --navtext:#C3C7D2;
    --dmsans:'DM Sans', sans-serif; 
    --aqua:#4bb8d8;
    --teal:#2c8daa;
  }
ul{
    list-style: none;
}
button{
    width: 200px;
    height: 40px;
    display: inline;
}
body{
    font-family: var(--dmsans);
    height: auto;
    position: absolute;
}
main{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}
/* header styling */
.header{
    background-color:var(--blue);
    width: 100%;
    height:85px;
    display: flex;
    flex-direction: column;
}
.header h2{
    margin-left:40%;
    padding-top:50px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 48px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
    position: relative;
    bottom: 24px;
}
.header nav{
    position: relative;
    bottom: 64px;
    left: 0px;
    font-size:20px;
    margin-left:65%;
}
.header a{
    text-decoration:none;
    color: #FFFFFF;
    margin-left: 39px;
    font-family: var(--dmsans);
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    border: 0px soild var(--blue);
}
.header a:hover{
    padding: 5px;
    border: 2px var(--yellow) solid;
}
.headerImg{
    position: relative;
    right: 28px;
    top: 9px;
}
section{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 310px;
    padding: 100px;
}
.left img{
    width: 550px;
    height: 350px;
}
.right{
    padding-left: 25px;
}
.perks{
    line-height: 23px;
}
.productAbout{
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 17px;
    list-style-type: circle;
}
.buyButton button{
    background-color: var(--yellow);
    color: var(--green);
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    border: none;
    margin-left: 39px;
    margin-top: 20px;
}

footer{
    position: fixed;
    width: 100%;
    height: 2.5rem;
    bottom: 0px;
    left: 0px;
    background-color: #1938A7;
    display: flex;
  }
  footer .socialIcons{
    margin-left:44%;
    padding-top:1%;
  }
  footer a{
    padding:1em;
  }