@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

*{
  margin:0;
  }
  
:root{
  --green:#f7fff7;
  --blue:#02239a;
  --yellow:#ffe66d;
  --white:#f1f3f9; 
  --black:#180126;
  --grey:#7E7A8F;
  --navtext:#C3C7D2;
  --dmsans:'DM Sans', sans-serif; 
  --aqua:#4bb8d8;
  --teal:#2c8daa;
}

body{

  background-color:var(--green);
  box-sizing:absolute; 
}

.header{
  background-color:var(--blue);
  height:85px;
}

.header h1{
  color:var(--white);
  font-family:var(--dmsans);
  font-weight: bold;
  font-size: 34px;
  margin-left: 45%;
  padding-top:50px
}

.header .navlinks{
  color:var(--white);
  list-style-type: none;
  text-decoration:none;  
  font-size:20px;
  margin-left:60%;
  padding-top: 60px;
  display:flex;
  justify-content: space-evenly;
}

.header .navlinks a{
  
  font-family:var(--dmsans);
  text-decoration:none;
  color:var(--white);
}

.navlinks li a:hover, .navlinks li a:focus{
 padding: 5px;
 border: 2px var(--yellow) solid;
}
.header .navlinks i{
  position: relative;
  left: 30px;
}
#layer1{
  position: relative;
  z-index: 0;
}

.triangles{
display:flex; 
justify-content:center;
overflow:hidden;
position: static;
}

.triangle1{
width: 0;
height: 0;
border-style: solid;
border-width: 30vh 114vh 0 0;
border-color: var(--teal) transparent transparent transparent;
}


.triangle2{
width: 0;
height: 0;
border-style: solid;
border-width: 0 113vh 30vh 0;
border-color: transparent var(--aqua) transparent transparent;
overflow:hidden;
}

.signup{
    width: 380px;
    height: 39em;
    margin-left: 38%;
    margin-top: -3%;
    margin-bottom: 15%;
    padding-left: 35px;
    background: #FAD862;
        
 }

h2 {
  margin-left: 20%;
  padding: 25px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 33px;
  display: flex;
  text-align: center;
  color: black;
  
}  
 .FN{
    position: absolute;
       
    }

h1{
  position: absolute;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 23px;
  text-align: center;
  display: flex;
  color: black;
}

input[type=text] {
    padding: 14px;
    margin: 15px;
    width: 300px;
    border: none;
     
}

button[type=button]{
  width: 70%;
  margin-left: 14px;
  margin-top: 15px;
  font-size: 24px;
  padding: 0.2em;
  border: none;
  }

button:hover{
  border: 1px solid gray;
}

p{
 margin-left: 15px;
 font-size: 18px;
 cursor: pointer;
}

 p span{
   text-decoration: underline;
   color: black;
   font-weight: 700;
   cursor: pointer;
 }
  
 
 footer{
    position: fixed;
    width: 100%;
    height: 2.5rem;
    bottom: 0px;
    left: 0px;
    background-color: #1938A7;
    
  }
  
  footer .icons{
      margin-left:45%;
      padding-top:1%;
    }
    
    footer a{
      padding:1em;
    }
    @media only screen and (max-width: 800px) {

      .header h1{
        margin-left: 42%;
        font-size: 30px;
        padding-top: 30px;
      }

      .header .navlinks{
        margin-left: -4%;
        
      }

      .signup{
        margin-left: 160px;
        margin-top: -160px;
        height: 35em;
        
      }
      h2{
        font-size: 40px;
      }

     .FN{
       margin-top: -5%;
     }
     footer .icons{
       margin-left: 260px;
       
     }

     @media only screen and (max-width: 400px) {

      .header{
        margin: auto;
      }

      .triangles{
        overflow: none;
      }

      .header h1{
        margin-left: 130px;
        font-size: 20px;
        padding-top: 30px;
      }

      .header .navlinks{
        margin-left: -65px;
        font-size: 12px;
      }

      .header .navlinks i{
        position: relative;
        left: 6px;
      }
      .signup{
        margin-left: 40px;
        margin-top: -100px;
        height: 60vh;
        width: 250px;
      }

      .signup h2{
        font-size: 20px;
        margin-left: 55px;
      }
      
      input[type=text]{
        padding: 10px;
        margin: 8px;
        width: 190px;
        border: none;
      }

      button[type=button]{      
        margin-left: 0.4px;
        margin-top: 15px;
        font-size: 16px;
        padding: 0.2em;
        border: none;
      }

      p{
        margin-left: 10px;
        font-size: 9px;
      }
        footer .icons{
          margin-left: 80px;