:root{
    --navy-blue: #02239A;
    --yellow: #FFE66D;
    --black:  #000000;  
    --white: #FFFFFF;   
    --lightblue: #00ace6;
    --whitefog: #E5E5E5;
    }

    body{
        margin: 0;
        background-color: var(--whitefog);

    }

    nav{
        display: flex;
        align-items: center;     
        width: 100%; 
        height: 70px;
        color: var(--white);
        background-color:  var(--navy-blue);
        justify-content: space-between;
        padding: .4em;
        
    }

    .navigation a {
        color: var(--white);
        font-size: 1em;
        font-weight: 400;
        flex-direction: space;
        line-height: 5em;
        text-decoration: none;
       padding-right: 1.8em;

    }

    .navigation{
        display: flex;
        list-style: none;
    }

    .logo{
   
        align-self: center;
         margin-left: 35rem;
        padding: 1em; 
    }

    main{
        display: flex;
        align-items: center;
    }


    #main-photo {
        background-image: url("./images/main-photo.svg");
        height:  86vh;
        flex-basis: 50%;
        background-size: contain ;
        background-repeat: no-repeat;
    }

    .box-right{
        display: flex;
        flex-basis: 50%;      
        flex-direction: column;   
        justify-content: start;
        align-items:flex-start ;  
        margin-top:  9rem;
    }

    .logo2{
        margin-left:  9rem;
        }


        h1 {
            font-size: 2rem;
           
           margin-bottom: 1em;
            line-height: 3.0rem;
            margin-left: 0.5em;   
            margin-right: 2em;
        }

        .main-text p{
            margin-left: 0.9em;   
            font-size: 1.5rem; 
            margin-right: 2em;
            font-weight: 600;
        }

        
    .buttons{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        font-family: "DM Sans";   
    }

    
.button1{
    width: 20vw ;
    margin-bottom: 2rem;
    background-color: var(--yellow);
    border: none;
    margin-left:  5.7rem;
    font-weight: 600;
    font-size: 1.3rem;
    padding: .5em;
    align-content: center;
}

button a{

    text-decoration: none;
    color: var(--black);
}

.button2{
    width: 14em ;
    height: 3em; 
    background-color: var(--yellow);
    padding: .3em;
    border: none;
    margin-left: 8.4rem;
    font-size: .9rem;
    font-weight: 600;
    align-content: center;  
    text-decoration: none;
}

.buttons :hover {
    background-color: var(--white);
    border: 2px solid var(--yellow);
}


li :hover {
    border: 1px solid var(--yellow);

}


a  .far fa-user-circle :hover{
    border: 1px solid var(--yellow);
}



@media  screen and (max-width: 600px) {


    body{
        overflow-x: hidden;   

    }
    main{
        display: block;
        
    }



    nav{
        height: 8rem;
      flex-direction: column;
      align-items: flex-start;  
      padding: 0em;
      justify-content:flex-start;
      margin-left: 0;
      padding-bottom: 3em;

      
    }    .logo{
        margin-left: 1.0rem;
        font-size: 2.5rem;
        padding-top: .8em;  
        
    }


    i  {      
        margin-right: 1.3em;
        font-size: 8px;
    }


    .navigation a {
        font-size: 9px;
        margin-left: 0;
        display: block;     
    }

    #main-photo{    
        width:  100vw;
        height: 48vh;
    }

.box-right{
    margin-top: 2rem;
}


.logo2{
    margin-left:  3.3rem;
    font-size: 1.2rem;
    }


    h1 {
        font-size: 1.55rem;
       margin-bottom: 1em;
        line-height: 2.0rem;
        margin-left: 0.5em;   
        margin-right: 2em;
    }

    .main-text p{
        margin-left: 0.9em;   
        font-size: 1.0rem; 
        margin-right: 2em;
        margin-bottom: .5em;
    }


    .buttons{
        margin-top: 1.5rem; 
        justify-content: center; 
         
    }

    .button1{
        width: 13em ;
        margin-bottom: 1.5rem;
        margin-left: 2.8rem;
        font-size: 1.0rem;
        padding: .5em;
        align-content: center;
    }


    .button2{
     
        height: 2.7em; 
        width: 12em ;
        padding: .2em;
        margin-left: 3.6rem;
        font-size: .8rem;
        font-weight: 600;
        align-content: center; 
    }

}