:root{
    --navy-blue: #02239A;
    --yellow: #FFE66D;
    --black:  #000000;  
    --white: #FFFFFF;   
    --lightblue: #00ace6;
    --whitefog: #E5E5E5;
    }
    *{
        margin:0;
      }

    body{
        background-color: var(--whitefog);
        font-family: "DM Sans";  

    }
    
    header{
        background-color:  var(--navy-blue);  
        display:flex;
        align-items: center;
        text-decoration:none;
        color:var(--white);
    }

    .navigation{
        color:var(--white);
        list-style-type: none;
        text-decoration:none;  
        font-size:1.2em;
        display:flex;
        margin-top: -0.4em;
        margin-left: 5em;
        justify-content: space-between;
        padding: .4em;
    }

    .navigation a{
        font-family:var(--dmsans);
        text-decoration:none;
        color:var(--white);
    }

   header h1{
    color:var(--white);
    font-family:var(--dmsans);
    font-weight: bold;
    margin-left:43%;
    padding-top:10px;
    text-decoration: none;
   }

    .logo{
   
        align-self: center;
        margin-left: 32rem; 
        padding: 1em;
    }

    main{
        display: flex;
        align-items: flex-start;
    }


    #main-photo {
        background-image: url("./images/main-photo.svg");
        height:  84vh;
        flex-basis: 50%;
        background-size: contain ;
        background-repeat: no-repeat;
    }

    .box-right{
        display: flex;
        flex-basis: 50%;      
        flex-direction: column;   
        justify-content: start;
        align-items:flex-start ;  
        margin-top: 4rem;
    }

    .logo2{
        margin-left:  9rem;
        }


        h1 {
            font-size: 2.6rem;
           
           margin-bottom: 1em;
            line-height: 3.0rem;
            margin-left: 0.5em;   
            margin-right: 2em;
        }

        .main-text p{
            margin-left: 0.9em;   
            font-size: 1.5rem; 
            margin-right: 2em;
            font-weight: 600;
        }

        
    .buttons{
        float: left;
        font-family: "DM Sans";  
        margin-top: 5em; 
    }

    .button{
        float: left; 
        margin-top: 1em;
    }

    
.button1{
    width: 13em ;
    margin-bottom: 2.3rem;
    background-color: var(--yellow);
    border: none;
    font-weight: 600;
    font-size: 1.3rem;
    padding: .5em;
    align-content: center;
}

button a{

    text-decoration: none;
    color: var(--black);
}

.button2{
    width: 13em ;
    background-color: var(--yellow);
    padding: .6em;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    align-content: center;  
    text-decoration: none;
    margin-bottom: 2.3rem;
}

.buttons a :hover {
    background-color: var(--white);
    border: 1px solid #ffe76d85;
}


li :hover {
    border: 1px solid var(--yellow);
    background-color: var(--yellow);
    color: var(--navy-blue);
    border-radius: 4px;


}


a  .far fa-user-circle :hover{
    border: 1px solid var(--yellow);
}



@media  screen and (max-width: 800px) {


    body{
        overflow-x: hidden;   

    }
    main{
        display: block;
        margin-left: 3em;
        
    }



    nav{
        display: block;
     height: 4rem;
      flex-direction: column;
      align-items: flex-start;  
      padding: 0em;
      width: 100%;
      justify-content:flex-start;
      margin-left: 20px;
      padding-bottom: 3em;
    }

    .navigation{
        display: block;
        height: 4rem;
         flex-direction: column;
         align-items: flex-start;  
         padding: 0em;
         width: 100%;
         justify-content:flex-start;
         justify-content: space-evenly;
         margin-left: 20px ;
         padding-bottom: 3em;
         list-style: none;
        } 

    #main-photo{    
        width:  100vw;
        height: 60vh;
    }

.box-right{
    margin-top: .5rem;
}


.logo2{
    margin-left:  3.3rem;
    font-size: .5rem;
    display: none;

    }

    header h1{
        margin-left:39%;
        font-size: 28px;
     }

    .main-text {
        margin-left: 0em;  
        padding: 0em 2em 0.5em 0em; 
    text-align: center;
    }

    .main-text p{
        font-size: .9rem; 
        margin-right: 0em;
        margin-bottom: 0em;
        margin-left: 0em;
        /* display:block ; */
        text-align: center;
    }


    .buttons{
        margin-top: 1.5rem; 
        justify-content: center; 
         
    }

    .button1{
        width: 13em ;
        margin-bottom: 1.5rem;
        font-size: 1.0rem;
        padding: .5em;
        align-content: center;
    }


    .button2{
     
        height: 2em; 
        width: 14em ;
        padding: .5em;
        font-size: 1.0rem;
        font-weight: 600;
        align-content: center; 
        margin-bottom: 1.5rem;
    }

}